* {
    margin: 0;
    padding: 0;
}

.body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 80vh;
    overflow: hidden;
    display: flex;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
$shooting-time: 6000ms;

.night {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
    // animation: sky 200000ms linear infinite;
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    // width: 100px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation:
        tail $shooting-time ease-in-out infinite,
        shooting $shooting-time ease-in-out infinite;

    &::before {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        // width: 30px;
        height: 2px;
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
        transform: translateX(50%) rotateZ(45deg);
        border-radius: 100%;
        animation: shining $shooting-time ease-in-out infinite;
    }

    &::after {
        @extend .shooting_star::before;
        transform: translateX(50%) rotateZ(-45deg);
    }

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
        $delay: random(9999) + 0ms;
        top: calc(50% - #{random(400) - 200px});
        left: calc(50% - #{random(300) + 0px});
        animation-delay: $delay;
        // opacity: random(50) / 100 + 0.5;
        
        &::before,
        &::after {
            animation-delay: $delay;
        }
        }
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    15% {
        width: 100px;
    }

    50%, 100% {
        width: 0;
    }
    }

    @keyframes shining {
    0% {
        width: 0;
    }

    25% {
        width: 30px;
    }

    50%, 100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    50%, 100% {
        transform: translateX(300px);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(45 + 360deg);
    }
}

nav
{   
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 50%;
    background-color: #009DC4;
    box-shadow: -2px 1px 4px #fff;
    // color: black;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding: 0% 25%;

    .nav_heading
    {
        display: flex;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 2px 4px #000000;
        font-size: 25px;
        animation: rainbow 5s infinite; 
    }
}

@keyframes rainbow{
    0%{color: orange;}	
10%{color: purple;}	
    20%{color: red;}
30%{color: CadetBlue;}
    40%{color: yellow;}
50%{color: coral;}
    60%{color: green;}
70%{color: cyan;}
80%{color: DeepPink;}
90%{color: DodgerBlue;}
    100%{color: orange;}
}

.ml-container {
    position: absolute;
    z-index: 9;
    margin-top: -150px;
}

.ml-container p {
    color: #fff;
    font-size: 20px;
}

.ml-container textarea {
    margin-top: 25px;
    display: flex;
    justify-content: center;
   font-family:"Times New Roman", Times, serif;  
   font-style: italic;
   font-size: 16px;   
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #191970;
    cursor: pointer;
    position: relative;
    margin-left: 35%;
    border-radius: 10px;
    font-weight: 600;
}

.glow-on-hover:hover{
    color: black;
    font-weight: 600;
    background-image:     linear-gradient(
       to right, 
       #E7484F,
       #F68B1D, 
       #FCED00,
       #009E4F,
       #00AAC3,
       #732982
     );
   animation:slidebg 2s linear infinite;
 }
 
 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }

.result-container {
    margin-top: -150px;
    margin-right: 40px;
}

.result-container .results1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-container .results2 {
    margin-right: 90px;
}